.animal-container {
    text-align: center;
    background-color: #ececec;
    padding: 50px 30px;
    min-height: 40vh;
    border-radius: 2%;
}

.animal-container>h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.animal {
    font-size: 24px;
    padding: 20px 0;
    margin: 2px;
    border-top: 1px solid #7d7d7d;
}

.animal:last-child {
    border-bottom: 1px solid #7d7d7d;
}

.incorrect {
    width: 22px;
    height: 22px;
    position: relative;
}

.incorrect:after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: red;
    transform: rotate(45deg);
}

.incorrect:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: red;
    transform: rotate(135deg);
}

.correct {
    width: 22px;
    height: 22px;
    position: relative;
}

.correct:after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: green;
    transform: rotate(30deg);
}

.correct:before {
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    width: 2px;
    height: 50%;
    background-color: green;
    transform: rotate(130deg) translate(6px, 6px);
}